.custom-calendar .react-calendar {
  /* margin-left: 10px; */
  background: transparent;
  border: none;
  /* width: 40rem; */
}

.custom-calendar .react-calendar__month-view__weekdays {
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  text-align: center;
  border-bottom: none;
  background: none;
}

.custom-calendar .react-calendar__month-view__weekdays__weekday {
  border: none;
  padding: 0;
}

.custom-calendar .react-calendar__tile {
  font-size: 20px;
  padding: 10px;
  background-color: transparent;
  border: none;
}

.custom-calendar .react-calendar__tile > abbr {
  border-radius: 5px;
  display: block;
  font-weight: 600;
  padding: 2px;
  text-align: center;
}

.custom-calendar .react-calendar__tile--active {
  background: #35e4ffb0;
}

.custom-calendar .react-calendar__tile--active:enabled:hover,
.custom-calendar .react-calendar__tile--active:enabled:focus {
  background: #7848f4;
  width: 20px;
  height: 50px;
  border: solid #7848f4 1px;
  border-radius: 10px;
}

.react-calendar__navigation {
  display: none;
}

.react-calendar__month-view__days {
  display: none;
}

.calendar-navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.calendar-navigation button {
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  margin: 0 10px;
  color: #333;
}

.calendar-navigation span {
  font-size: 20px;
  font-weight: bold;
  color: #7848f4;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none; 
}
