.scroll-smooth {
  scroll-behavior: smooth;
}

.animated-scrollbar {
  padding-right: 16px; /* Add space between the scrollbar and the card content */
}

.animated-scrollbar::-webkit-scrollbar {
  width: 8px; /* Increased the width slightly */
}

.animated-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.animated-scrollbar::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #7d3cf4b5, #7312f1d3);
  border-radius: 10px;
}

.animated-scrollbar::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #7312f1d3, #7d3cf4b5);
}
